/*background*/

* {
   margin: 0;
   padding: 0;
}

section {
   height: 975px;
}

section:nth-child(1) {
   background: url("../img/top.jpg");
   background-size: cover;

}
section:nth-child(2) {
   background: url("../img/untitled-1.png");
   background-size: cover;
}
section:nth-child(3) {
   background: #d0f0c0;
}

section:nth-child(4) {
   background: white;
}
section:nth-child(5) {
   background: #d0f0c0;
}
section:nth-child(6) {
   background: white;
}
section:nth-child(7) {
   background: #d0f0c0;
}
section:nth-child(8) {
   background: white;
}
section:nth-child(9) {
   background: #d0f0c0;
}
section:nth-child(10) {
   background: white;
}
section:nth-child(11) {
   background: #d0f0c0;
}
section:nth-child(12) {
   background: white;
}
section:nth-child(13) {
   background: #d0f0c0;
}
p {
   margin: auto;
}

/*animation for numbers*/
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400px;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: grey;
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

/*columns*/
.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
h1{
   color: white;
   Font-size: 120pt;
   font-family: 'Suez One', serif;


}
h5{
   color: white;
   font-size: 36pt;
   font-family: 'Roboto Condensed', sans-serif;
}
h4{
   color: darkgrey;
   font-size: 36pt;
   font-family: 'Roboto Condensed', sans-serif;
}
h2{
   font-family: 'Roboto Condensed', sans-serif;
}
em{
   color:#00B4F1;
   font-size: 18pt;
}
ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
ul {
  width: 300px;
}
